.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 60px;
}

.text-section {
    max-width: 600px;
    color: white;
    animation: slideLeft 1s ease;
}

.title {
    font-size: 55px;
    font-weight: 700;
    line-height: 1.2;
}

.description {
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.6;
}

.buttons {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

/* MODEL */
.model-section {
    animation: slideRight 1s ease;
}

.model-img {
    height: 600px;
    animation: float 4s ease-in-out infinite;
}

/* animations */
@keyframes slideLeft {
    from { transform: translateX(-80px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes slideRight {
    from { transform: translateX(80px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}
